@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'NunitoSans-Regular';
        src: url(assets/fonts/NunitoSans_7pt-Regular.ttf);
    }
    @font-face {
        font-family: 'NunitoSans-SemiBold';
        src: url(assets/fonts/NunitoSans_7pt-SemiBold.ttf);
    }
    @font-face {
        font-family: 'NunitoSans-Bold';
        src: url(assets/fonts/NunitoSans_7pt-Bold.ttf);
    }
    @font-face {
        font-family: 'NunitoSans-ExtraBold';
        src: url(assets/fonts/NunitoSans_7pt-ExtraBold.ttf);
    }
}
@layer base {
    html {
        font-family: 'NunitoSans-SemiBold';
    }
}